<form [formGroup]="taskForm()" (ngSubmit)="addTask()">
  <div class="task-form__container">
    <input
      type="text"
      class="task-form__input"
      placeholder="Digite a sua tarefa..."
      formControlName="task"
      [ngClass]="{
        'task-form__input--error':
          taskForm().invalid && taskForm().value.task.length > 0
      }"
      data-testid="input"
    />
    <button
      class="task-form__button"
      type="submit"
      [disabled]="taskForm().invalid"
      data-testid="add-button"
    >
      Adicionar
    </button>
  </div>
  <p
    class="task-form__error"
    *ngIf="taskForm().invalid && taskForm().value.task.length > 0"
    data-testid="text-validation"
  >
    Digite no mínimo 3 caracteres para adicionar a tarefa...
  </p>
</form>
