.task-list-completed--title {
  text-align: center;
  color: var(--green);
}

.task-list-completed__container {
  padding: 24px;
  border-radius: 10px;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: none;
  border-left: 2px solid var(--border);
  background: var(--bg-grey);
}