<div class="task-list-completed__container">
  <h3 class="task-list-completed--title">Tarefas Concluídas</h3>
  <ng-container *ngIf="tasksListCompleted.length">
    <app-task-item
      *ngFor="let item of tasksListCompleted; let i = index"
      [setTaskItem]="item"
      [showActionsItem]="false"
      ($editTask)="$editTask.emit($event)"
      ($deleteTask)="$deleteTask.emit(item.id)"
    ></app-task-item>
  </ng-container>

  <p class="task-list__empty--text" *ngIf="!tasksListCompleted.length">
    Nenhuma tarefa concluída.
    <i class="fa-regular fa-face-sad-tear"></i>
  </p>
</div>
