.task-list-completed--title {
  text-align: center;
  color: var(--green);
}

.task-list-completed__container {
  padding: 24px;
  border-radius: 10px;
  border-left: 2px solid var(--border);
  background: var(--bg-grey);
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 30px;
}

.task-list__empty {
    margin-top: 20px;
  }
  
  .task-list__empty--text {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    color: var(--secondary-text);
  }
  