<div
  *ngIf="taskItem()"
  class="taskItem__container"
  [ngClass]="{
    'taskItem__container--selected':
      (taskItemForm().value.selectedTaskItem && showActionsItem) || hasEditItem()
  }"
>
  <form [formGroup]="taskItemForm()" class="taskItem__form">
    <label class="taskItem__custom-checkbox">
      <input
        type="checkbox"
        formControlName="selectedTaskItem"
        (change)="setCompletedTask($event)"
        data-testid="checkbox"
      />
      <span class="taskItem__custom-checkbox--checkmark"></span>
      <span
        class="taskItem__custom-checkbox--text"
        [ngClass]="{
          'taskItem__custom-checkbox--text-completed': taskItem().isCompleted
        }"
        data-testid="custom-checkbox-text"
      >
        <div class="taskItem__custom-checkbox--information">
          <p *ngIf="!hasEditItem()">{{ taskItem().name }}</p>
          <span *ngIf="taskItem().isCompleted">{{ completedDate() }}</span>
        </div>
      </span>
    </label>
    <input
      type="text"
      formControlName="taskItem"
      *ngIf="hasEditItem()"
      class="taskItem__form--edit"
      [id]="taskItem().id"
      (keyup.enter)="confirmEditItem(taskItem())"
    />
  </form>

  <div class="taskItem__actions">
    <p
      class="taskItem__edit"
      (click)="handleEditItem()"
      *ngIf="!hasEditItem() && showActionsItem"
      data-testid="edit-item"
    >
      <i class="fa-solid fa-pencil"></i>
    </p>
    <p
      class="taskItem__delete"
      (click)="handleDeleteModal()"
      *ngIf="!hasEditItem()"
      data-testid="delete-item"
    >
      <i class="fa-solid fa-trash"></i>
    </p>

    <p>
      <i
        class="fa-solid fa-check"
        *ngIf="hasEditItem() && showActionsItem"
        (click)="confirmEditItem(taskItem())"
        data-testid="confirm-edit-item"
      ></i>
    </p>
  </div>
</div>

<app-task-modal
  [openModal]="showModal()"
  [title]="titleModal()"
  [subtitle]="subtitleModal()"
  [actions]="actionsModal()"
></app-task-modal>
